$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts"; // set if you're also including font-awesome

body {
  padding-top: 50px;
}
//@import '~bootstrap-sass/assets/stylesheets/bootstrap';
//@import '~font-awesome/scss/font-awesome.scss';
//@import '~@bower_components/ie10-viewport-bug-workaround/dist/ie10-viewport-bug-workaround.css';
//@import '~bootstrap-sass/assets/stylesheets/bootstrap';

//body {
//   background-color: pink;
//}
//
//span {
//  color: #0000F0;
//}
