<!DOCTYPE html>
<html {% block html_attributes %} lang="{{ app.request.getLocale() }}" {{ sonata_seo_html_attributes() }}{% endblock %}>
<head {% block head_attributes %}{{ sonata_seo_head_attributes() }}{% endblock %}>
    {{ sonata_seo_metadatas() }}
    <link rel="icon" href="{{ asset('favicon.ico') }}">
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}
    {% block title %}{{ sonata_seo_title() }}{% endblock %}
    
    {#<meta charset="utf-8">#}
    {#<meta http-equiv="X-UA-Compatible" content="IE=edge">#}
    {#<meta name="viewport" content="width=device-width, initial-scale=1">#}
    {#<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->#}
    {#<meta name="description" content="">#}
    {#<meta name="author" content="">#}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link rel="stylesheet" href="{{ asset('build/css/ie10-viewport-bug-workaround.css') }}">
    {% endblock %}

    {% block javascripts_upper %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ asset('build/js/html5shiv.js') }}"></script>
        <script src="{{ asset('build/js/respond.js') }}"></script>
        <![endif]-->
    {% endblock %}
</head>

<body {% block body_attributes %}{% if c33s_core_config.app.use_scrollspy|default(false) %}data-spy="scroll" data-target=".navbar-scrollspy"{% endif %}{% endblock %}>
{% block header %}
    {% block menu %}
        {% include('menu.html.twig') %}
    {% endblock %}
{% endblock %}
<noscript>{% block noscript %}{% endblock %}</noscript>
{#{% block messages %}{% include 'C33sToolkitLayoutBundle::embed/messages.html.twig' %}{% endblock %}#}
{% block content %}{% endblock %}
{% block footer %}{% include('footer.html.twig') %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
