<footer class="main">
    <div class="footer-line">&nbsp;</div>
    <div class="container footer">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h4>Kontakt</h4>
                <strong>Projectname</strong>
                <address class="">
                    address<br>
                </address>

                <span class="clearfix"></span>
                <address class="">
                    <abbr title="email"><i class="fa fa-envelope"></i></abbr> <a href="mailto:xxx">xxx</a>
                </address>
            </div>
            <div class="col-md-3 col-sm-3">
                <h4>Sitemap</h4>
                <ul class="list-unstyled">
                    <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i> Kontakt</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">
                <h4>&nbsp;</h4>
            </div>
            <div class="col-md-3 col-sm-3">
                <h4>Connect</h4>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fa fa-external-link-square"></i> xxx</a></li>
                </ul>
                created by <a href="#">xxx <i class="fa fa-external-link"></i></a>
            </div>
        </div>
    </div>
    <div id="cookie-consent">
        <noscript>
            <p>
                Wir verwenden Cookies, um unsere Webseite für Sie möglichst benutzerfreundlich zu gestalten..
                <a data-cc-if="options.link" target="_self" class="cc_more_info" href="/datenschutz">
                    Mehr Informationen
                </a>
            </p>
        </noscript>
    </div>
</footer>