<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {#{% include('menu.html.twig') %}#}
            {#{{ knp_menu_render('main') }}#}


            {#navbar (top and/or bottom)(static or fixed)#}
            {#pills#}
            {#stacked#}
            {#dropdown-header#}
            {#dropdown#}
            {#caret#}
            {#pull-right#}
            {#icon#}
            {#badge#}
            {#https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/extensions/2-navbars.md#}
            {#http://bootstrap.mohrenweiserpartner.de/mopa/bootstrap/navbar#}
            {{ mopa_bootstrap_menu('main', {'automenu': 'navbar', 'currentClass': 'active'}) }}
            {{ mopa_bootstrap_menu('lang', {'automenu': 'navbar', 'currentClass': 'active', 'pull-right': 'true'}) }}
            {#{{ knp_menu_render('main') }}#}
            {#{{ mopa_bootstrap_menu('main', {'automenu': 'navbar', 'currentClass': 'active'}) }}#}

            {#<ul class="nav navbar-nav">#}
                {#<li class="active"><a href="#">Home</a></li>#}
                {#<li><a href="#">About</a></li>#}
                {#<li><a href="#">Contact</a></li>#}
                {#<li class="dropdown">#}
                    {#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
                    {#<ul class="dropdown-menu">#}
                        {#<li><a href="#">Action</a></li>#}
                        {#<li><a href="#">Another action</a></li>#}
                        {#<li><a href="#">Something else here</a></li>#}
                        {#<li role="separator" class="divider"></li>#}
                        {#<li class="dropdown-header">Nav header</li>#}
                        {#<li><a href="#">Separated link</a></li>#}
                        {#<li><a href="#">One more separated link</a></li>#}
                    {#</ul>#}
                {#</li>#}
            {#</ul>#}

            {#<ul class="nav navbar-nav navbar-right">#}
            {#<li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>#}
            {#<li><a href="../navbar-static-top/">Static top</a></li>#}
            {#<li><a href="../navbar-fixed-top/">Fixed top</a></li>#}
            {#</ul>#}
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
