{% extends 'base.html.twig' %}

{% block title %}An Error Occurred: {{ status_text }}{% endblock %}

{#<meta charset="{{ _charset }}" />#}

{% block content %}
    <div class="container">
        <h1>Oops! An Error Occurred</h1>
        <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
        <div class="row">
            <div class="col-md-8">
                Something is broken. Please let us know what you were doing when this error occurred.
                We will fix it as soon as possible. Sorry for any inconvenience caused.
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
{% endblock %}
